@charset "utf-8";
.product_titile_fenlei {
    @include displayflex(flex, row, center);
    width: 1090px;
    height: 100px;
    margin: 0 auto;
    .product_titile_fenlei_2 {
        @include displayflex(flex, row, center);
        flex-wrap: wrap;
        align-content: space-between;
        a {
            margin: 0 10px;
            text-decoration: none;
            @include font(12px ，#333)
        }
    }
    .product_titile_fenlei_1 {
        width: 100px;
        height: 62px;
    }
}