@charset "utf-8";
#left_nav {
    position: fixed;
    width: 108px !important;
    height: auto;
    left: 50px;
    top: 550px;
    li {
        list-style: none;
        width: 108px;
        height: 38px;
        background-color: #fff;
        @include font(12px, #333);
        @include displayflex(flex, row, center);
        line-height: 38px !important;
        img {
            width: 30px;
            height: 30px;
        }
        div {
            height: 38px;
            @include displayflex(flex, column, center);
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 5px;
            margin-bottom: 5px;
            span {
                height: 12px;
            }
        }
    }
    li:first-of-type {
        background: url(../../img/背景.webp);
        @include center(center, 38px);
        justify-content: center;
    }
}