@charset "utf-8";
#left_nav {
    position: fixed;
    left: 50px;
    top: 50px;
    li {
        list-style: none;
        width: 108px;
        height: 38px;
        background-color: #fff;
        @include font(12px, #333);
        @include displayflex(flex, row, center);
        line-height: 38px !important;
        img {
            width: 30px;
            height: 30px;
        }
    }
    li:first-of-type {
        background: url(../../img/背景.webp);
        @include center(center, 38px);
        justify-content: center;
    }
}