@charset "utf-8";
#product_title_limit {
    @include productbox(100%, 535px);
    .product_title_limit_title {
        width: 1090px;
        height: 32px;
        position: relative;
        margin: 60px auto 20px;
        h2 {
            position: absolute;
            left: 0;
            top: 0;
        }
        span {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .product_title_limit_pro {
        width: 1090px;
        height: 429px;
        margin: 0 auto;
        @include displayflex(flex, row, center);
        .limit_pro_left {
            width: 224px;
            height: 429px;
            background: url(http://yanxuan.nosdn.127.net/a0d0bd891ebb55308dbddda736ed53cc.png);
        }
    }
}

#product_title_limit .limit_pro_right {
    width: 866px;
    height: 100%;
    @include displayflex(flex, row, center);
    justify-content: space-around;
    flex-wrap: wrap;
    div {
        width: 425px;
        height: 50%;
        position: relative;
        padding: 0 3px;
        @include displayflex(flex, row, center);
        .limit_pro_center-pro-2 {
            height: 100%;
            @include displayflex(flex, column, center);
            justify-content: center;
            align-items: flex-start;
            .limit_pro_center-pro-2-p4 {
                width: 118px;
                height: 31px;
                background-color: #be4141;
                @include center(center, 31px);
                margin-top: 18px;
                @include font(16px, #fff);
            }
            .limit_pro_center-pro-2-p2 {
                @include font(14px, #999);
            }
            .limit_pro_center-pro-2-p5 {
                width: 130px;
                height: 10px;
                border-radius: 5px;
                margin: 8px 0;
                border: 1px solid #ffe5e5;
                .numBarIn {
                    width: 98px;
                    height: 100%;
                    background-color: #ffe5e5;
                    border-radius: 5px;
                }
            }
        }
        .limit_pro_center-pro-1 {
            width: 180px;
            height: 100%;
            margin-right: 10px;
            img {
                width: 180px;
                height: 180px;
            }
        }
        .slaenum {
            @include font(14px, #999);
            position: absolute;
            right: 20px;
            top: 85px;
        }
    }
}

// #product_title_limit .limit_pro_right>div {
//     border: 1px solid #999;
// }
#product_title_limit .limit_pro_center-pro-2-p3 {
    span:nth-of-type(1) {
        @include font(14px, #be4141);
    }
    span:nth-of-type(2) {
        @include font(24px, #be4141);
        font-weight: bolder;
    }
    del {
        @include font(14px, #999);
    }
}

#product_title_limit .limit_pro_left {
    @include displayflex(flex, column, center);
    justify-content: center;
    h3 {
        height: 36px;
        @include font(36px, #615548);
    }
    div {
        width: 150px;
        height: 40px;
        margin-top: 18px;
        @include displayflex(flex, row, center);
        justify-content: space-between;
        span {
            width: 40px;
            height: 40px;
            background-color: black;
            @include font(18px, #fff);
            @include center(center, 40px);
        }
    }
    .limit_pro_left_p1 {
        height: 22px;
        margin-top: 30px;
    }
    .limit_pro_left_p2 {
        width: 110px;
        height: 30px;
        margin-top: 50px;
        border-radius: 15px;
        background-color: #a7936e;
        text-align: center;
        line-height: 30px;
    }
}

.limit_pro_right>div:nth-of-type(1) {
    border-top: 1px solid #f0ece4;
    border-right: 1px solid #f0ece4;
}

.limit_pro_right>div:nth-of-type(2) {
    border-top: 1px solid #f0ece4;
    border-right: 1px solid #f0ece4;
}

.limit_pro_right>div:nth-of-type(3) {
    border-top: 1px solid #f0ece4;
    border-right: 1px solid #f0ece4;
    border-bottom: 1px solid #f0ece4;
}

.limit_pro_right>div:nth-of-type(4) {
    border-top: 1px solid #f0ece4;
    border-right: 1px solid #f0ece4;
    border-bottom: 1px solid #f0ece4;
}