@charset "utf-8";
#product_title_welfare {
    @include productbox(100%, 535px);
    background-color: #f4f0ea;
    margin-top: 54px;
    //福利社title
    .product_title_welfare_title {
        width: 1090px;
        height: 32px;
        position: relative;
        margin: 60px auto 0;
        h2 {
            position: absolute;
            left: 0;
            top: 0;
        }
        span {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    //福利社商品
    .product_title_welfare_pro {
        width: 1090px;
        height: 429px;
        margin: 0 auto;
        @include displayflex(flex, row, center);
        //侧大图
        .welfare_pro_left {
            width: 242px;
            height: 376px;
            // padding: 0 10px;
        }
        //中间商品
        .welfare_pro_center {
            width: 624px;
            height: 376px;
            padding: 0 19px;
            background-color: #fff;
            .welfare_pro_center-title {
                width: 100%;
                height: 44px;
                overflow: hidden;
                border-bottom: 1px solid #F4F0EA;
                line-height: 56px;
                h3 {
                    float: left;
                    @include font(16px, #333)
                }
                span {
                    float: right;
                    @include font(12px, #333)
                }
            }
            .welfare_pro_center-pro {
                width: 100%;
                height: 320px;
                @include displayflex(flex, row, center);
                flex-wrap: wrap;
                align-content: space-evenly;
                div {
                    width: 285px;
                    height: 140px;
                    margin-right: 10px;
                    @include displayflex(flex, row, center);
                    //中间商品左侧图片
                    .welfare_pro_center-pro-1 {
                        img {
                            width: 130px;
                            height: 100%;
                        }
                        width: 130px;
                        height: 100%;
                        margin: 0;
                    }
                    //中间商品右侧标题
                    .welfare_pro_center-pro-2 {
                        margin-left: 10px !important;
                        width: 145px;
                        height: 100%;
                        margin: 0;
                        @include displayflex(flex, column, center);
                        justify-content: space-around;
                        align-items: flex-start;
                        //大标题
                        .welfare_pro_center-pro-2-p1 {
                            @include font(14px, #333);
                            // @include center(center, 28px)
                        }
                        //限时折扣价
                        .welfare_pro_center-pro-2-p2 {
                            @include font(12px, #333);
                            .welfare_pro_center-pro-2-p2-span1 {
                                color: #be4141;
                            }
                            .welfare_pro_center-pro-2-p2-span2 {
                                color: red;
                                @include font(20px, #be4141);
                            }
                        }
                        //原价
                        .welfare_pro_center-pro-2-p3 {
                            @include font(14px, #a4a4a4)
                        }
                        //立即抢购图标
                        .welfare_pro_center-pro-2-p4 {
                            width: 90px;
                            height: 28px;
                            background-color: red;
                            @include font(12px, #fff);
                            @include center(center, 28px)
                        }
                    }
                }
            }
        }
        //右侧商品
        .welfare_pro_right {
            width: 222px;
            padding: 0 10px;
            height: 376px;
            background-color: #fff;
            @include displayflex(flex, column, center);
            align-content: space-around;
            .welfare_pro_right_1 {
                height: 188px;
                .welfare_pro_right_1_title {
                    height: 50px;
                    line-height: 50px;
                    @include displayflex(flex, row, center);
                    justify-content: space-around;
                    h3 {
                        @include font(16px, #333);
                    }
                    span {
                        @include font(12px, #333)
                    }
                }
                .welfare_pro_right_1_content {
                    div {
                        height: 60px;
                        @include displayflex(flex, row, center);
                        justify-content: space-around;
                        img {
                            width: 50px;
                            height: 50px;
                        }
                        div {
                            height: 100px;
                            @include displayflex(flex, column, center);
                            width: 120px;
                            height: 50px;
                            p {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                width: 100%;
                                @include displayflex(flex, row, center);
                                justify-content: space-between;
                                @include font(12px, #333)
                            }
                        }
                    }
                }
            }
            .welfare_pro_right_2 {
                height: 188px;
                .welfare_pro_right_2_title {
                    height: 50px;
                    line-height: 50px;
                    @include displayflex(flex, row, center);
                    justify-content: space-around;
                    h3 {
                        @include font(16px, #333)
                    }
                    span {
                        @include font(12px, #333)
                    }
                }
                .welfare_pro_right_2_content {
                    div {
                        height: 60px;
                        @include displayflex(flex, row, center);
                        justify-content: space-around;
                        img {
                            width: 50px;
                            height: 50px;
                        }
                        div {
                            @include displayflex(flex, column, center);
                            width: 120px;
                            height: 50px;
                            p {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                width: 100%;
                                @include displayflex(flex, row, center);
                                justify-content: space-between;
                                @include font(12px, #333)
                            }
                        }
                    }
                }
            }
        }
    }
}