@charset "utf-8";
#right_nav {
    width: 72px;
    position: absolute;
    right: 0;
    top: 550px;
    background-color: white;
    li {
        list-style: none;
        width: 72px;
        height: 82px;
        text-align: center;
        @include displayflex(flex, column, center);
        justify-content: space-around;
        p {
            @include font(14px, #666)
        }
        span {
            font-size: 30px !important;
            margin-bottom: 5px;
        }
    }
    li:first-of-type {
        img {
            width: 70px;
            height: 70px;
        }
        height: 140px;
    }
}