@charset "utf-8";
#search-scroll {
    display: none;
    height: 50px;
    width: 100%;
    .search-scroll-main {
        width: 1090px;
        height: 50px;
        margin: 0 auto;
        @include displayflex(flex, row, center);
        @include font(14px, #000);
        justify-content: space-around;
        font-weight: bolder;
        img {
            width: 126px;
            height: 30px;
        }
        ul {
            width: 830px;
            @include displayflex(flex, row, center);
            justify-content: space-around;
            li {
                list-style: none;
                height: 50px;
                line-height: 50px;
            }
        }
        span {
            color: #CC9756;
            font-size: 20px !important;
        }
    }
}

#search-scroll .search-scroll-main li>div {
    @include displayflex(flex, row, center);
    align-items: flex-start;
    position: fixed;
    left: 200px;
    top: 50px;
    background-color: #fff;
    // padding: 14px 20px 20px 20px;
    visibility: hidden;
    width: 1224px;
    height: 460px;
    z-index: 5;
    ul {
        list-style: none;
        width: 124px !important;
        height: 368px;
        // background-color: rosybrown;
        margin-right: 24px;
        @include displayflex(flex, column, center);
        justify-content: flex-start;
        li {
            list-style: none;
            @include displayflex(flex, row, center);
            justify-content: space-evenly;
            margin: 5px 0;
            img {
                width: 50px;
                height: 50px;
            }
            p {
                @include font(12px, #333);
                font-weight: normal;
            }
            a {
                text-decoration: none;
                cursor: pointer;
                @include font(12px, #333)
            }
        }
        li:nth-of-type(1) {
            border-bottom: 1px solid #333;
            text-align: left;
        }
    }
}

.search-scroll-main li:hover div {
    visibility: visible !important;
}