@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

header {
  width: 100%;
  height: 36px;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .head-main {
  width: 1090px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: none;
}
header .head-main .head-main-left li {
  list-style: none;
  height: 36px;
  line-height: 36px;
}
header .head-main .head-main-right > span {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}
header .head-main .head-main-right span:last-of-type {
  border-right: none;
}
header .head-main .head-main-right a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #cccccc;
}
header .head-main .head-main-left a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #cc9556;
}
header .head-main .head-main-right a:hover {
  font-size: 12px;
  color: #fff;
}
header .head-main .head-main-left a:hover {
  font-size: 12px;
  color: #fff;
}
header .head-main .icon-xialakuang {
  font-size: 10px !important;
}

#search {
  width: 100%;
  height: 140px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#search .search_buttom {
  width: 1090px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
#search .search_buttom li {
  width: calc(1090px /11);
  font-weight: 900;
  font-size: 14px;
  color: #000;
}
#search .search_top {
  width: 1090px;
  height: 110px;
  position: relative;
}
#search .search_top .search_top_search {
  width: 532px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #CC9756;
  position: relative;
  position: absolute;
  right: 184px;
  top: 30px;
}
#search .search_top .search_top_search div {
  width: 90px;
  height: 37px;
  background-color: #CC9756;
  float: left;
  position: absolute;
  top: 0;
  right: -1px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 37px;
}
#search .search_top .search_top_search input {
  display: inline-block;
  background: none;
  outline: none;
  border: none;
  width: calc(532px - 90) !important;
  height: 36px;
  border: none;
  position: absolute;
  top: 0;
  left: 30px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
#search .search_top .search_top_search span {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 14px;
  color: #999;
}
#search .search_top div {
  position: absolute;
  right: 480px;
  top: 70px;
  font-size: 12px;
  color: #999;
}
#search .search_top div a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 12px;
  color: #999;
}
#search .search_top img {
  width: 210px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 20px;
}
#search .search_top .search_top_car {
  width: 134px;
  height: 38px;
  border: 1px solid #CC9756;
  border-radius: 19px;
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 14px;
  color: #CC9756;
  text-align: center;
  line-height: 38px;
}

.search_buttom li div {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 200px;
  top: 140px;
  background-color: #fff;
  z-index: 1;
  padding: 14px 20px 20px 20px;
  visibility: hidden;
  width: 1224px;
  height: 402px;
}
.search_buttom li div ul {
  list-style: none;
  width: 124px !important;
  height: 368px;
  margin-right: 24px;
}
.search_buttom li div ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0;
}
.search_buttom li div ul li img {
  width: 50px;
  height: 50px;
}
.search_buttom li div ul li p {
  font-size: 12px;
  color: #333;
  font-weight: normal;
}

.search_buttom li:hover div {
  visibility: visible;
}

#search-scroll {
  display: none;
  height: 50px;
  width: 100%;
}
#search-scroll .search-scroll-main {
  width: 1090px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#search-scroll .search-scroll-main img {
  width: 126px;
  height: 30px;
}
#search-scroll .search-scroll-main ul {
  width: 830px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#search-scroll .search-scroll-main ul li {
  list-style: none;
}
#search-scroll .search-scroll-main span {
  color: #CC9756;
  font-size: 20px !important;
}

.product_titile_fenlei {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1090px;
  height: 100px;
  margin: 0 auto;
}
.product_titile_fenlei .product_titile_fenlei_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}
.product_titile_fenlei .product_titile_fenlei_2 a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 12px ， #333;
  color: #000;
}
.product_titile_fenlei .product_titile_fenlei_1 {
  width: 100px;
  height: 62px;
}

#left_nav {
  position: fixed;
  left: 50px;
  top: 50px;
}
#left_nav li {
  list-style: none;
  width: 108px;
  height: 38px;
  background-color: #fff;
  font-size: 12px;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 38px !important;
}
#left_nav li img {
  width: 30px;
  height: 30px;
}
#left_nav li:first-of-type {
  background: url(../../img/背景.webp);
  text-align: center;
  line-height: 38px;
  justify-content: center;
}

#right_nav {
  width: 72px;
  position: fixed;
  right: 0;
  top: 50px;
}
#right_nav li {
  list-style: none;
  width: 72px;
  height: 82px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#right_nav li p {
  font-size: 14px;
  color: #666;
}
#right_nav li span {
  font-size: 40px !important;
  margin-bottom: 5px;
}
#right_nav li:first-of-type {
  height: 140px;
}
#right_nav li:first-of-type img {
  width: 70px;
  height: 70px;
}

#product_title_fankui {
  width: 100%;
  height: 300px;
  padding: 60px 0 0 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product_title_fankui ul {
  width: 1090px;
  height: 204px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_fankui ul li {
  list-style: none;
  width: 360px;
  height: 204px;
  border-right: 1px solid #999;
  text-align: center;
}
#product_title_fankui ul .product_title_fankui_1 p {
  margin-bottom: 28px;
}
#product_title_fankui ul .product_title_fankui_1 .product_title_fankui_1_box {
  width: 250px;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_fankui ul .product_title_fankui_1 .product_title_fankui_1_box div {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #999;
  padding-top: 20px;
}
#product_title_fankui ul .product_title_fankui_1 .product_title_fankui_1_box span {
  display: block !important;
  font-size: 40px;
}
#product_title_fankui ul .product_title_fankui_1 .product_title_fankui_1_box p {
  margin: 0;
  font-size: 12px;
  color: #333;
}
#product_title_fankui ul .product_title_fankui_2 {
  padding: 0 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#product_title_fankui ul .product_title_fankui_2 span {
  font-size: 20px;
}
#product_title_fankui ul .product_title_fankui_3 {
  padding: 0 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#product_title_fankui ul .product_title_fankui_3 p:last-of-type {
  font-size: 12px;
  color: #b4a048;
}
#product_title_fankui ul li:last-of-type {
  border-right: none;
}

footer {
  width: 100%;
  height: 268px;
  background-color: black;
  color: white;
}
footer .footer_t {
  width: 1090px;
  height: 50px;
  margin: auto;
  margin-top: 37px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .footer_t li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_t li span {
  font-size: 50px;
  margin-right: 20px;
}
footer .footer_t li p {
  font-size: 18px;
  color: #fff;
}
footer .footer_b {
  width: 1090px;
  height: 50px;
  margin: auto;
  text-align: center;
}
footer .footer_b ul {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  color: #999;
}
footer .footer_b ul li {
  list-style: none;
}
footer .footer_b p {
  font-size: 12px;
  color: #999;
  margin: 10px;
}

/*# sourceMappingURL=index.css.map */
