@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

header {
  width: 100%;
  height: 36px;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header .head-main {
  width: 1090px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: start;
  justify-content: flex-end;
  text-transform: none;
  position: relative;
}
header .head-main .head-main-left li {
  list-style: none;
  height: 36px;
  line-height: 36px;
}
header .head-main .head-main-right > span {
  display: inline-block;
  padding: 0 10px;
  padding: 6px 10px;
  height: 24px;
}
header .head-main .head-main-right a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #cccccc;
}
header .head-main .head-main-left a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #cc9556;
}
header .head-main .head-main-right a:hover {
  font-size: 12px;
  color: #fff;
}
header .head-main .head-main-left a:hover {
  font-size: 12px;
  color: #fff;
}
header .head-main .icon-xialakuang {
  font-size: 10px !important;
}
header .head-main .head-main-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header .head-main .head-main-right div {
  text-align: center;
  margin-top: 5px;
}
header .head-main .head-main-right .tuichu {
  color: red;
  font-size: 12px;
}

.head-main-left {
  position: absolute;
  left: 0;
  top: 0;
}

.head_app {
  height: 36px;
}

.head-erweima {
  position: absolute;
  left: 1220px;
  top: 36px;
  z-index: 3;
  padding: 10px;
  display: none;
  background-color: whitesmoke;
}
.head-erweima li {
  list-style: none;
  text-align: center;
  color: #cc9556;
  font-size: 12px;
}
.head-erweima li img {
  width: 60px;
  height: 60px;
}

.head_shanjiao {
  display: none;
  position: absolute;
  left: 1270px;
  top: 24px;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid whitesmoke;
}

.uid {
  font-size: 12px;
  margin-top: 2px !important;
}

#search {
  width: 100%;
  height: 140px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
#search .search_buttom {
  width: 1090px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
#search .search_buttom li {
  width: calc(1090px /11);
  font-weight: 900;
  font-size: 14px;
  color: #000;
  text-align: center;
}
#search .search_top {
  width: 1090px;
  height: 110px;
  position: relative;
}
#search .search_top .search_top_search {
  width: 532px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #CC9756;
  position: relative;
  position: absolute;
  right: 184px;
  top: 30px;
}
#search .search_top .search_top_search div {
  width: 90px;
  height: 37px;
  background-color: #CC9756;
  float: left;
  position: absolute;
  top: 0;
  right: -1px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 37px;
}
#search .search_top .search_top_search input {
  display: inline-block;
  background: none;
  outline: none;
  border: none;
  width: calc(532px - 90) !important;
  height: 36px;
  border: none;
  position: absolute;
  top: 0;
  left: 30px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
#search .search_top .search_top_search span {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 14px;
  color: #999;
}
#search .search_top div {
  position: absolute;
  right: 480px;
  top: 70px;
  font-size: 12px;
  color: #999;
}
#search .search_top div a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 12px;
  color: #999;
}
#search .search_top img {
  width: 210px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 20px;
}
#search .search_top .search_top_car {
  width: 134px;
  height: 38px;
  border: 1px solid #CC9756;
  border-radius: 19px;
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 14px;
  color: #CC9756;
  text-align: center;
  line-height: 38px;
}

.search_buttom li div {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 200px;
  top: 136px;
  background-color: #fff;
  padding: 0 20px 20px 20px;
  visibility: hidden;
  width: 1224px;
  height: 402px;
  z-index: 2;
}
.search_buttom li div ul {
  list-style: none;
  width: 124px !important;
  height: 368px;
  margin-right: 24px;
}
.search_buttom li div ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0;
}
.search_buttom li div ul li img {
  width: 50px;
  height: 50px;
}
.search_buttom li div ul li p {
  font-size: 12px;
  color: #333;
  font-weight: normal;
}
.search_buttom li div ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #333;
}
.search_buttom li div ul li:nth-of-type(1) {
  width: 30px;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  text-align: left;
}

.search_buttom li:hover div {
  visibility: visible !important;
}

.search_buttom > li:hover {
  border-bottom: 3px solid #CC9756;
}

#search-scroll {
  display: none;
  height: 50px;
  width: 100%;
}
#search-scroll .search-scroll-main {
  width: 1090px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: #000;
  justify-content: space-around;
  font-weight: bolder;
}
#search-scroll .search-scroll-main img {
  width: 126px;
  height: 30px;
}
#search-scroll .search-scroll-main ul {
  width: 830px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#search-scroll .search-scroll-main ul li {
  list-style: none;
  height: 50px;
  line-height: 50px;
}
#search-scroll .search-scroll-main span {
  color: #CC9756;
  font-size: 20px !important;
}

#search-scroll .search-scroll-main li > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  position: fixed;
  left: 200px;
  top: 50px;
  background-color: #fff;
  visibility: hidden;
  width: 1224px;
  height: 460px;
  z-index: 5;
}
#search-scroll .search-scroll-main li > div ul {
  list-style: none;
  width: 124px !important;
  height: 368px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#search-scroll .search-scroll-main li > div ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0;
}
#search-scroll .search-scroll-main li > div ul li img {
  width: 50px;
  height: 50px;
}
#search-scroll .search-scroll-main li > div ul li p {
  font-size: 12px;
  color: #333;
  font-weight: normal;
}
#search-scroll .search-scroll-main li > div ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #333;
}
#search-scroll .search-scroll-main li > div ul li:nth-of-type(1) {
  border-bottom: 1px solid #333;
  text-align: left;
}

.search-scroll-main li:hover div {
  visibility: visible !important;
}

#banner {
  width: 100%;
  height: 420px;
  position: relative;
}
#banner .active {
  opacity: 1;
}
#banner img {
  opacity: 0;
  width: 100%;
  height: 420px;
  position: absolute;
  left: 0;
  top: 0;
}
#banner div {
  width: 100%;
  height: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#banner div ul {
  width: 200px;
  height: 28px;
  margin: auto;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#banner div ul li {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  list-style: none;
  float: left;
}
#banner div ul .over {
  border: 3px solid #CC9756;
}
#banner .btn-left {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 120px;
  top: 170px;
  background-color: #e2c299;
  text-align: center;
  line-height: 50px;
}
#banner .btn-left:hover {
  background-color: #B19D79;
}
#banner .btn-right:hover {
  background-color: #B19D79;
}
#banner .btn-right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 1320px;
  top: 170px;
  background-color: #e2c299;
  text-align: center;
  line-height: 50px;
}

#product_title_new {
  width: 1090px;
  height: 510px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
#product_title_new .new-title {
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 20px;
}
#product_title_new .new-title h2 {
  position: absolute;
  left: 0;
  top: 0px;
  font-size: 28px;
  color: #333;
}
#product_title_new .new-title .new-title-span1 {
  display: block;
  position: absolute;
  left: 120px;
  top: 15px;
  font-size: 13px;
  color: #333;
}
#product_title_new .new-title .new-title-span2 {
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 13px;
  color: #333;
}
#product_title_new .new-pro {
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 80px;
}
#product_title_new .new-pro li {
  width: 265px;
  height: 365px;
  list-style: none;
  margin-right: 10px;
  position: relative;
}
#product_title_new .new-pro li .new-pro-p1 {
  width: 70px;
  height: 20px;
  background-color: #e36844;
  margin: 5px auto;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
#product_title_new .new-pro li .new-pro-p2 {
  text-align: center;
}
#product_title_new .new-pro li .new-pro-p3 {
  text-align: center;
}
#product_title_new .new-pro li .new-pro-p3 .new-pro-p3-span2 {
  font-size: 8px;
  color: #999;
}
#product_title_new .new-pro li .new-pro-p3 .new-pro-p3-span1 {
  font-size: 13px;
  color: #d4282d;
}
#product_title_new .new-pro li .active {
  display: block;
}
#product_title_new .new-pro li img:nth-child(1) {
  width: 265px;
  height: 265px;
  display: block;
}
#product_title_new .new-pro li img:nth-child(2) {
  width: 265px;
  height: 265px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
}
#product_title_new .new-pro li:hover {
  background-color: #f4f0ea !important;
}
#product_title_new .btn-left {
  position: absolute;
  left: 1030px;
  top: 230px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #eee;
  text-align: center;
  line-height: 50px;
  background-color: #e2c199;
  cursor: pointer;
  z-index: 2;
}
#product_title_new .btn-right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 230px;
  font-size: 20px;
  color: #eee;
  text-align: center;
  line-height: 50px;
  background-color: #e2c199;
  cursor: pointer;
  z-index: 2;
}
#product_title_new .btn-left:hover {
  background-color: #CC9756;
}
#product_title_new .btn-right:hover {
  background-color: #CC9756;
}

#product_title_recommend {
  width: 100%;
  height: 618px;
  background-color: #f4f0ea;
  padding: 60px 0;
}
#product_title_recommend .recommend-title {
  width: 1090px;
  height: 37px;
  margin: 0 auto;
  position: relative;
}
#product_title_recommend .recommend-title h2 {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 28px;
  color: #333;
}
#product_title_recommend .recommend-title .recommend-title-span1 {
  position: absolute;
  left: 130px;
  top: 15px;
  font-size: 13px;
  color: #333;
}
#product_title_recommend .recommend-title .recommend-title-span2 {
  position: absolute;
  left: 190px;
  top: 15px;
  font-size: 13px;
  color: #333;
}
#product_title_recommend .recommend-title .recommend-title-span3 {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 13px;
  color: #333;
}
#product_title_recommend .recommend-pro {
  width: 1090px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_recommend .recommend-pro .recommend-pro-left {
  width: 390px;
  height: 570px;
  margin-right: 10px;
  background-color: #fff;
}
#product_title_recommend .recommend-pro .recommend-pro-left img {
  width: 100%;
  height: 400px;
}
#product_title_recommend .recommend-pro .recommend-pro-left .recommend-pro-p1 {
  width: 70px;
  height: 20px;
  background-color: #e36844;
  margin: 18px auto 10px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
#product_title_recommend .recommend-pro .recommend-pro-left .recommend-pro-p2 {
  text-align: center;
  font-size: 18px;
  color: #333;
  font-weight: 900;
  margin-bottom: 13px;
}
#product_title_recommend .recommend-pro .recommend-pro-left .recommend-pro-p3 {
  text-align: center;
}
#product_title_recommend .recommend-pro .recommend-pro-left .recommend-pro-p3 .recommend-pro-p3-span2 {
  font-size: 12px;
  color: #999;
}
#product_title_recommend .recommend-pro .recommend-pro-left .recommend-pro-p3 .recommend-pro-p3-span1 {
  font-size: 16px;
  color: #d4282d;
}
#product_title_recommend .recommend-pro .recommend-pro-right {
  width: 690px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}
#product_title_recommend .recommend-pro .recommend-pro-right li {
  list-style: none;
  width: 225px;
  height: 280px;
  margin-right: 7px;
  margin-bottom: 5px;
  background-color: #fff;
}
#product_title_recommend .recommend-pro .recommend-pro-right img {
  width: 100%;
  height: 180px;
}
#product_title_recommend .recommend-pro .recommend-pro-right .recommend-pro-p1 {
  width: 70px;
  height: 20px;
  background-color: #e36844;
  margin: 5px auto 5px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
#product_title_recommend .recommend-pro .recommend-pro-right .recommend-pro-p2 {
  text-align: center;
  font-size: 13px;
  color: #333;
  font-weight: bold;
}
#product_title_recommend .recommend-pro .recommend-pro-right .recommend-pro-p3 {
  text-align: center;
  margin-top: 5px;
}
#product_title_recommend .recommend-pro .recommend-pro-right .recommend-pro-p3 .recommend-pro-p3-span2 {
  font-size: 12px;
  color: #999;
}
#product_title_recommend .recommend-pro .recommend-pro-right .recommend-pro-p3 .recommend-pro-p3-span1 {
  font-size: 14px;
  color: #d4282d;
}
#product_title_recommend .recommend-pro .recommend-pro-right li:nth-of-type(4) {
  margin-bottom: 0px;
}
#product_title_recommend .recommend-pro .recommend-pro-right li:nth-of-type(5) {
  margin-bottom: 0px;
}
#product_title_recommend .recommend-pro .recommend-pro-right li:nth-of-type(6) {
  margin-bottom: 0px;
  margin-right: 0px;
}
#product_title_recommend .recommend-pro .recommend-pro-right li:nth-of-type(3) {
  margin-right: 0px;
}

#product_title_limit {
  width: 100%;
  height: 535px;
}
#product_title_limit .product_title_limit_title {
  width: 1090px;
  height: 32px;
  position: relative;
  margin: 60px auto 20px;
}
#product_title_limit .product_title_limit_title h2 {
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_limit .product_title_limit_title span {
  position: absolute;
  top: 0;
  right: 0;
}
#product_title_limit .product_title_limit_pro {
  width: 1090px;
  height: 429px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_limit .product_title_limit_pro .limit_pro_left {
  width: 224px;
  height: 429px;
  background: url(http://yanxuan.nosdn.127.net/a0d0bd891ebb55308dbddda736ed53cc.png);
}

#product_title_limit .limit_pro_right {
  width: 866px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#product_title_limit .limit_pro_right div {
  width: 425px;
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_limit .limit_pro_right div .limit_pro_center-pro-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
#product_title_limit .limit_pro_right div .limit_pro_center-pro-2 .limit_pro_center-pro-2-p4 {
  width: 118px;
  height: 31px;
  background-color: #be4141;
  text-align: center;
  line-height: 31px;
  margin-top: 18px;
  font-size: 16px;
  color: #fff;
}
#product_title_limit .limit_pro_right div .limit_pro_center-pro-2 .limit_pro_center-pro-2-p2 {
  font-size: 14px;
  color: #999;
}
#product_title_limit .limit_pro_right div .limit_pro_center-pro-2 .limit_pro_center-pro-2-p5 {
  width: 130px;
  height: 10px;
  border-radius: 5px;
  margin: 8px 0;
  border: 1px solid #ffe5e5;
}
#product_title_limit .limit_pro_right div .limit_pro_center-pro-2 .limit_pro_center-pro-2-p5 .numBarIn {
  width: 98px;
  height: 100%;
  background-color: #ffe5e5;
  border-radius: 5px;
}
#product_title_limit .limit_pro_right div .limit_pro_center-pro-1 {
  width: 180px;
  height: 100%;
  margin-right: 10px;
}
#product_title_limit .limit_pro_right div .limit_pro_center-pro-1 img {
  width: 180px;
  height: 180px;
}
#product_title_limit .limit_pro_right div .slaenum {
  font-size: 14px;
  color: #999;
  position: absolute;
  right: 20px;
  top: 85px;
}

#product_title_limit .limit_pro_center-pro-2-p3 span:nth-of-type(1) {
  font-size: 14px;
  color: #be4141;
}
#product_title_limit .limit_pro_center-pro-2-p3 span:nth-of-type(2) {
  font-size: 24px;
  color: #be4141;
  font-weight: bolder;
}
#product_title_limit .limit_pro_center-pro-2-p3 del {
  font-size: 14px;
  color: #999;
}

#product_title_limit .limit_pro_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#product_title_limit .limit_pro_left h3 {
  height: 36px;
  font-size: 36px;
  color: #615548;
}
#product_title_limit .limit_pro_left div {
  width: 150px;
  height: 40px;
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_limit .limit_pro_left div span {
  width: 40px;
  height: 40px;
  background-color: black;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
#product_title_limit .limit_pro_left .limit_pro_left_p1 {
  height: 22px;
  margin-top: 30px;
}
#product_title_limit .limit_pro_left .limit_pro_left_p2 {
  width: 110px;
  height: 30px;
  margin-top: 50px;
  border-radius: 15px;
  background-color: #a7936e;
  text-align: center;
  line-height: 30px;
}

#product_title_welfare {
  width: 100%;
  height: 535px;
  background-color: #f4f0ea;
  margin-top: 54px;
}
#product_title_welfare .product_title_welfare_title {
  width: 1090px;
  height: 32px;
  position: relative;
  margin: 60px auto 0;
}
#product_title_welfare .product_title_welfare_title h2 {
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_welfare .product_title_welfare_title span {
  position: absolute;
  top: 0;
  right: 0;
}
#product_title_welfare .product_title_welfare_pro {
  width: 1090px;
  height: 429px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_left {
  width: 242px;
  height: 376px;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center {
  width: 624px;
  height: 376px;
  padding: 0 19px;
  background-color: #fff;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-title {
  width: 100%;
  height: 44px;
  overflow: hidden;
  border-bottom: 1px solid #F4F0EA;
  line-height: 56px;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-title h3 {
  float: left;
  font-size: 16px;
  color: #333;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-title span {
  float: right;
  font-size: 12px;
  color: #333;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div {
  width: 285px;
  height: 140px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div .welfare_pro_center-pro-1 {
  width: 130px;
  height: 100%;
  margin: 0;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div .welfare_pro_center-pro-1 img {
  width: 130px;
  height: 100%;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div .welfare_pro_center-pro-2 {
  margin-left: 10px !important;
  width: 145px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div .welfare_pro_center-pro-2 .welfare_pro_center-pro-2-p1 {
  font-size: 14px;
  color: #333;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div .welfare_pro_center-pro-2 .welfare_pro_center-pro-2-p2 {
  font-size: 12px;
  color: #333;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div .welfare_pro_center-pro-2 .welfare_pro_center-pro-2-p2 .welfare_pro_center-pro-2-p2-span1 {
  color: #be4141;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div .welfare_pro_center-pro-2 .welfare_pro_center-pro-2-p2 .welfare_pro_center-pro-2-p2-span2 {
  color: red;
  font-size: 20px;
  color: #be4141;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div .welfare_pro_center-pro-2 .welfare_pro_center-pro-2-p3 {
  font-size: 14px;
  color: #a4a4a4;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_center .welfare_pro_center-pro div .welfare_pro_center-pro-2 .welfare_pro_center-pro-2-p4 {
  width: 90px;
  height: 28px;
  background-color: red;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 28px;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right {
  width: 222px;
  padding: 0 10px;
  height: 376px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_1 {
  height: 188px;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_1 .welfare_pro_right_1_title {
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_1 .welfare_pro_right_1_title h3 {
  font-size: 16px;
  color: #333;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_1 .welfare_pro_right_1_title span {
  font-size: 12px;
  color: #333;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_1 .welfare_pro_right_1_content div {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_1 .welfare_pro_right_1_content div img {
  width: 50px;
  height: 50px;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_1 .welfare_pro_right_1_content div div {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 50px;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_1 .welfare_pro_right_1_content div div p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #333;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_2 {
  height: 188px;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_2 .welfare_pro_right_2_title {
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_2 .welfare_pro_right_2_title h3 {
  font-size: 16px;
  color: #333;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_2 .welfare_pro_right_2_title span {
  font-size: 12px;
  color: #333;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_2 .welfare_pro_right_2_content div {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_2 .welfare_pro_right_2_content div img {
  width: 50px;
  height: 50px;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_2 .welfare_pro_right_2_content div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 50px;
}
#product_title_welfare .product_title_welfare_pro .welfare_pro_right .welfare_pro_right_2 .welfare_pro_right_2_content div div p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #333;
}

#product_title_housr {
  width: 1090px;
  height: 849px;
  overflow: hidden;
}
#product_title_housr .product_title_housr_title {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_housr .product_title_housr_title a {
  margin-left: 14px;
}
#product_title_housr .product_title_housr_title span:hover {
  font-size: 16px;
  color: #b4a078;
}
#product_title_housr .product_title_housr_banner {
  width: 100%;
  height: 310px;
  margin-bottom: 20px;
  position: relative;
}
#product_title_housr .product_title_housr_banner .left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 120px;
  z-index: 4;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_housr .product_title_housr_banner .right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 120px;
  z-index: 4;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_housr .product_title_housr_banner .product_title_housr_banner_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#product_title_housr .product_title_housr_banner .product_title_housr_banner_btn div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}
#product_title_housr .product_title_housr_banner > li {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_housr .product_title_housr_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#product_title_housr .product_title_housr_content li {
  width: 265px;
  height: 361px;
  list-style: none;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#product_title_housr .product_title_housr_content li img:nth-of-type(1) {
  width: 265px;
  height: 265px;
}
#product_title_housr .product_title_housr_content li img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  height: 265px;
  opacity: 0;
}
#product_title_housr .product_title_housr_content li .product_title_housr_content_p1 {
  width: 100px;
  padding: 5;
  margin: 0 auto;
  background-color: #e36844;
  font-size: 12px;
  color: #fff;
}
#product_title_housr .product_title_housr_content li .product_title_housr_content_p2 {
  font-size: 13px;
  color: #333;
  font-weight: 900;
}
#product_title_housr .product_title_housr_content li .product_title_housr_content_p3 {
  font-size: 13px;
  color: #333;
}
#product_title_housr .product_title_housr_content li .product_title_housr_content_p3 span {
  font-size: 13px;
  color: #d4282d;
}
#product_title_housr .product_title_housr_content li .product_title_housr_content_p3 del {
  font-size: 12px;
  color: #999;
}

#product_title_clothing {
  width: 1090px;
  height: 789px;
  overflow: hidden;
}
#product_title_clothing .product_title_clothing_title {
  margin-bottom: 20px;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_clothing .product_title_clothing_title a {
  margin-left: 14px;
}
#product_title_clothing .product_title_clothing_banner {
  width: 100%;
  height: 310px;
  margin-bottom: 20px;
  position: relative;
}
#product_title_clothing .product_title_clothing_banner li {
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_clothing .product_title_clothing_banner .left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_clothing .product_title_clothing_banner .right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_clothing .product_title_clothing_banner .product_title_clothing_banner_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product_title_clothing .product_title_clothing_banner .product_title_clothing_banner_btn div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}
#product_title_clothing .product_title_clothing_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#product_title_clothing .product_title_clothing_content li {
  width: 265px;
  height: 361px;
  list-style: none;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#product_title_clothing .product_title_clothing_content li img:nth-of-type(1) {
  width: 265px;
  height: 265px;
}
#product_title_clothing .product_title_clothing_content li img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  height: 265px;
  opacity: 0;
}
#product_title_clothing .product_title_clothing_content li .product_title_clothing_content_p1 {
  width: 100px;
  padding: 5;
  margin: 0 auto;
  background-color: #e36844;
  font-size: 12px;
  color: #fff;
}
#product_title_clothing .product_title_clothing_content li .product_title_clothing_content_p2 {
  font-size: 13px;
  color: #333;
  font-weight: 900;
}
#product_title_clothing .product_title_clothing_content li .product_title_clothing_content_p3 {
  font-size: 13px;
  color: #333;
}
#product_title_clothing .product_title_clothing_content li .product_title_clothing_content_p3 span {
  font-size: 13px;
  color: #d4282d;
}
#product_title_clothing .product_title_clothing_content li .product_title_clothing_content_p3 del {
  font-size: 12px;
  color: #999;
}

#product_title_liquor {
  width: 1090px;
  height: 789px;
  overflow: hidden;
}
#product_title_liquor .product_title_liquor_title {
  margin-bottom: 20px;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_liquor .product_title_liquor_title a {
  margin-left: 14px;
}
#product_title_liquor .product_title_liquor_banner {
  width: 100%;
  height: 310px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_liquor .product_title_liquor_banner li {
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_liquor .product_title_liquor_banner .left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_liquor .product_title_liquor_banner .right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_liquor .product_title_liquor_banner .product_title_liquor_banner_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product_title_liquor .product_title_liquor_banner .product_title_liquor_banner_btn div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}
#product_title_liquor .product_title_liquor_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#product_title_liquor .product_title_liquor_content li {
  width: 265px;
  height: 361px;
  list-style: none;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#product_title_liquor .product_title_liquor_content li .product_title_liquor_content_p1 {
  width: 100px;
  padding: 5;
  margin: 0 auto;
  background-color: #e36844;
  font-size: 12px;
  color: #fff;
}
#product_title_liquor .product_title_liquor_content li .product_title_liquor_content_p2 {
  font-size: 13px;
  color: #333;
  font-weight: 900;
}
#product_title_liquor .product_title_liquor_content li .product_title_liquor_content_p3 {
  font-size: 13px;
  color: #333;
}
#product_title_liquor .product_title_liquor_content li .product_title_liquor_content_p3 span {
  font-size: 13px;
  color: #d4282d;
}
#product_title_liquor .product_title_liquor_content li .product_title_liquor_content_p3 del {
  font-size: 12px;
  color: #999;
}
#product_title_liquor .product_title_liquor_content li img:nth-of-type(1) {
  width: 265px;
  height: 265px;
}
#product_title_liquor .product_title_liquor_content li img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  height: 265px;
  opacity: 0;
}

#product_title_clean {
  width: 1090px;
  height: 789px;
  overflow: hidden;
}
#product_title_clean .product_title_clean_title {
  margin-bottom: 20px;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_clean .product_title_clean_title a {
  margin-left: 14px;
}
#product_title_clean .product_title_clean_banner {
  width: 100%;
  height: 310px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_clean .product_title_clean_banner li {
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_clean .product_title_clean_banner .left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_clean .product_title_clean_banner .right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_clean .product_title_clean_banner .product_title_clean_banner_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product_title_clean .product_title_clean_banner .product_title_clean_banner_btn div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}
#product_title_clean .product_title_clean_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#product_title_clean .product_title_clean_content li {
  width: 265px;
  height: 361px;
  list-style: none;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#product_title_clean .product_title_clean_content li .product_title_clean_content_p1 {
  width: 100px;
  padding: 5;
  margin: 0 auto;
  background-color: #e36844;
  font-size: 12px;
  color: #fff;
}
#product_title_clean .product_title_clean_content li .product_title_clean_content_p2 {
  font-size: 13px;
  color: #333;
  font-weight: 900;
}
#product_title_clean .product_title_clean_content li .product_title_clean_content_p3 {
  font-size: 13px;
  color: #333;
}
#product_title_clean .product_title_clean_content li .product_title_clean_content_p3 span {
  font-size: 13px;
  color: #d4282d;
}
#product_title_clean .product_title_clean_content li .product_title_clean_content_p3 del {
  font-size: 12px;
  color: #999;
}
#product_title_clean .product_title_clean_content li img:nth-of-type(1) {
  width: 265px;
  height: 265px;
}
#product_title_clean .product_title_clean_content li img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  height: 265px;
  opacity: 0;
}

#product_title_infant {
  width: 1090px;
  height: 789px;
  overflow: hidden;
}
#product_title_infant .product_title_infant_title {
  margin-bottom: 20px;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_infant .product_title_infant_title a {
  margin-left: 14px;
}
#product_title_infant .product_title_infant_banner {
  width: 100%;
  height: 310px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_infant .product_title_infant_banner li {
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_infant .product_title_infant_banner .left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_infant .product_title_infant_banner .right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_infant .product_title_infant_banner .product_title_infant_banner_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product_title_infant .product_title_infant_banner .product_title_infant_banner_btn div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}
#product_title_infant .product_title_infant_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#product_title_infant .product_title_infant_content li {
  width: 265px;
  height: 361px;
  list-style: none;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#product_title_infant .product_title_infant_content li .product_title_infant_content_p1 {
  width: 100px;
  padding: 5;
  margin: 0 auto;
  background-color: #e36844;
  font-size: 12px;
  color: #fff;
}
#product_title_infant .product_title_infant_content li .product_title_infant_content_p2 {
  font-size: 13px;
  color: #333;
  font-weight: 900;
}
#product_title_infant .product_title_infant_content li .product_title_infant_content_p3 {
  font-size: 13px;
  color: #333;
}
#product_title_infant .product_title_infant_content li .product_title_infant_content_p3 span {
  font-size: 13px;
  color: #d4282d;
}
#product_title_infant .product_title_infant_content li .product_title_infant_content_p3 del {
  font-size: 12px;
  color: #999;
}
#product_title_infant .product_title_infant_content img:nth-of-type(1) {
  width: 265px;
  height: 265px;
}
#product_title_infant .product_title_infant_content img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  height: 265px;
  opacity: 0;
}

#product_title_exercise {
  width: 1090px;
  height: 789px;
  overflow: hidden;
}
#product_title_exercise .product_title_exercise_title {
  margin-bottom: 20px;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_exercise .product_title_exercise_title span {
  font-size: 14px;
  color: #333;
}
#product_title_exercise .product_title_exercise_title a {
  margin-left: 14px;
  font-size: 14px;
  color: #333;
}
#product_title_exercise .product_title_exercise_banner {
  width: 100%;
  height: 310px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_exercise .product_title_exercise_banner li {
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_exercise .product_title_exercise_banner .left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_exercise .product_title_exercise_banner .right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_exercise .product_title_exercise_banner .product_title_exercise_banner_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product_title_exercise .product_title_exercise_banner .product_title_exercise_banner_btn div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}
#product_title_exercise .product_title_exercise_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#product_title_exercise .product_title_exercise_content li {
  width: 265px;
  height: 361px;
  list-style: none;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#product_title_exercise .product_title_exercise_content li .product_title_exercise_content_p1 {
  width: 100px;
  padding: 5;
  margin: 0 auto;
  background-color: #e36844;
  font-size: 12px;
  color: #fff;
}
#product_title_exercise .product_title_exercise_content li .product_title_exercise_content_p2 {
  font-size: 13px;
  color: #333;
  font-weight: 900;
}
#product_title_exercise .product_title_exercise_content li .product_title_exercise_content_p3 {
  font-size: 13px;
  color: #333;
}
#product_title_exercise .product_title_exercise_content li .product_title_exercise_content_p3 span {
  font-size: 13px;
  color: #d4282d;
}
#product_title_exercise .product_title_exercise_content li .product_title_exercise_content_p3 del {
  font-size: 12px;
  color: #999;
}
#product_title_exercise .product_title_exercise_content li img:nth-of-type(1) {
  width: 265px;
  height: 265px;
}
#product_title_exercise .product_title_exercise_content li img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  height: 265px;
  opacity: 0;
}

#product_title_3c {
  width: 1090px;
  height: 789px;
  overflow: hidden;
}
#product_title_3c .product_title_3c_title {
  margin-bottom: 20px;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_3c .product_title_3c_title span {
  font-size: 14px;
  color: #333;
}
#product_title_3c .product_title_3c_title a {
  margin-left: 14px;
  font-size: 14px;
  color: #333;
}
#product_title_3c .product_title_3c_banner {
  width: 100%;
  height: 310px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_3c .product_title_3c_banner li {
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_3c .product_title_3c_banner .left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_3c .product_title_3c_banner .right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_3c .product_title_3c_banner .product_title_3c_banner_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product_title_3c .product_title_3c_banner .product_title_3c_banner_btn div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}
#product_title_3c .product_title_3c_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#product_title_3c .product_title_3c_content li {
  width: 265px;
  height: 361px;
  list-style: none;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#product_title_3c .product_title_3c_content li .product_title_3c_content_p1 {
  width: 100px;
  padding: 5;
  margin: 0 auto;
  background-color: #e36844;
  font-size: 12px;
  color: #fff;
}
#product_title_3c .product_title_3c_content li .product_title_3c_content_p2 {
  font-size: 13px;
  color: #333;
  font-weight: 900;
}
#product_title_3c .product_title_3c_content li .product_title_3c_content_p3 {
  font-size: 13px;
  color: #333;
}
#product_title_3c .product_title_3c_content li .product_title_3c_content_p3 span {
  font-size: 13px;
  color: #d4282d;
}
#product_title_3c .product_title_3c_content li .product_title_3c_content_p3 del {
  font-size: 12px;
  color: #999;
}
#product_title_3c .product_title_3c_content li img:nth-of-type(1) {
  width: 265px;
  height: 265px;
}
#product_title_3c .product_title_3c_content li img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  height: 265px;
  opacity: 0;
}

#product_title_global {
  width: 1090px;
  height: 789px;
  overflow: hidden;
}
#product_title_global .product_title_global_title {
  margin-bottom: 20px;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_global .product_title_global_title span {
  font-size: 14px;
  color: #333;
}
#product_title_global .product_title_global_title a {
  margin-left: 14px;
  font-size: 14px;
  color: #333;
}
#product_title_global .product_title_global_banner {
  width: 100%;
  height: 310px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_global .product_title_global_banner li {
  position: absolute;
  left: 0;
  top: 0;
}
#product_title_global .product_title_global_banner .left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_global .product_title_global_banner .right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 120px;
  background-color: #d0c4af;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
#product_title_global .product_title_global_banner .product_title_global_banner_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product_title_global .product_title_global_banner .product_title_global_banner_btn div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}
#product_title_global .product_title_global_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#product_title_global .product_title_global_content li {
  width: 265px;
  height: 361px;
  list-style: none;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#product_title_global .product_title_global_content li .product_title_global_content_p1 {
  width: 100px;
  padding: 5;
  margin: 0 auto;
  background-color: #e36844;
  font-size: 12px;
  color: #fff;
}
#product_title_global .product_title_global_content li .product_title_global_content_p2 {
  font-size: 13px;
  color: #333;
  font-weight: 900;
}
#product_title_global .product_title_global_content li .product_title_global_content_p3 {
  font-size: 13px;
  color: #333;
}
#product_title_global .product_title_global_content li .product_title_global_content_p3 span {
  font-size: 13px;
  color: #d4282d;
}
#product_title_global .product_title_global_content li .product_title_global_content_p3 del {
  font-size: 12px;
  color: #999;
}
#product_title_global .product_title_global_content li img:nth-of-type(1) {
  width: 265px;
  height: 265px;
}
#product_title_global .product_title_global_content li img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  height: 265px;
  opacity: 0;
}

#product_title_zxj {
  width: 1090px;
  height: 428px;
  margin-bottom: 80px;
}
#product_title_zxj .product_title_zxj_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
#product_title_zxj .product_title_zxj_title p {
  margin-left: 20px;
  margin-top: 10px;
}
#product_title_zxj .product_title_zxj_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_zxj .product_title_zxj_content .product_title_zxj_content_1 {
  width: 690px;
  height: 380px;
  margin-right: 10px;
}
#product_title_zxj .product_title_zxj_content .product_title_zxj_content_2 {
  width: 390px;
  height: 380px;
}
#product_title_zxj .product_title_zxj_content .product_title_zxj_content_2 .product_title_zxj_content_2_t {
  width: 390px;
  height: 185px;
  margin-bottom: 10px;
}

#product_title_our {
  width: 100%;
  height: 660px;
  background-color: #f4f0ea;
  position: relative;
}
#product_title_our .product_title_our_title {
  width: 1090px;
  height: 28px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_our .product_title_our_title p {
  margin-left: 20px;
}
#product_title_our div {
  width: 1090px;
  height: 492px;
  margin: 0 auto 60px;
  overflow: hidden;
  position: relative;
}
#product_title_our div .product_title_our_content {
  width: auto;
  width: 3000px;
  margin: 0 auto 60px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_our div .product_title_our_content li {
  width: 355px;
  height: 492px;
  position: relative;
  list-style: none;
  text-align: center;
  margin-right: 20px;
  background-color: #fff;
}
#product_title_our div .product_title_our_content li .product_title_our_content_pic {
  width: 355px;
  height: 355px;
}
#product_title_our div .product_title_our_content li .product_title_our_content_pic_box {
  width: 355px;
  height: 137px;
  background-color: #fff;
}
#product_title_our div .product_title_our_content li .product_title_our_content_pic_pingjia {
  position: absolute;
  left: 5px;
  bottom: 0;
  width: 345px;
  height: 145px;
  padding: 20px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
#product_title_our .btn-left {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 155px;
  top: 300px;
  background-color: #e2c299;
  text-align: center;
  line-height: 50px;
}
#product_title_our .btn-right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 155px;
  top: 300px;
  background-color: #e2c299;
  text-align: center;
  line-height: 50px;
}
#product_title_our .btn-left:hover {
  background-color: #B19D79;
}
#product_title_our .btn-right:hover {
  background-color: #B19D79;
}

.product_title_our_content_pic_pingjia p:nth-of-type(1) {
  font-size: 13px;
  color: #999;
  margin: 10px;
}

.product_title_our_content_pic_pingjia p:nth-of-type(2) {
  font-size: 16px;
  color: #333;
  margin: 10px;
}

.product_title_our_content_pic_pingjia p:nth-of-type(3) {
  font-size: 13px;
  color: #333;
  margin: 10px;
}

#product_title_fankui {
  width: 100%;
  height: 300px;
  padding: 60px 0 35px 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#product_title_fankui ul {
  width: 1090px;
  height: 204px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product_title_fankui ul li {
  list-style: none;
  width: 360px;
  height: 204px;
  border-right: 1px solid #999;
  text-align: center;
}
#product_title_fankui ul .product_title_fankui_1 p {
  margin-bottom: 28px;
}
#product_title_fankui ul .product_title_fankui_1 .product_title_fankui_1_box {
  width: 250px;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#product_title_fankui ul .product_title_fankui_1 .product_title_fankui_1_box div {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #E8E8E8;
}
#product_title_fankui ul .product_title_fankui_1 .product_title_fankui_1_box span {
  display: block !important;
  font-size: 40px;
}
#product_title_fankui ul .product_title_fankui_1 .product_title_fankui_1_box p {
  margin: 0;
  font-size: 12px;
  color: #333;
}
#product_title_fankui ul .product_title_fankui_2 {
  padding: 0 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#product_title_fankui ul .product_title_fankui_2 span {
  font-size: 20px;
}
#product_title_fankui ul .product_title_fankui_3 {
  padding: 0 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#product_title_fankui ul .product_title_fankui_3 p:last-of-type {
  font-size: 12px;
  color: #b4a048;
}
#product_title_fankui ul li:last-of-type {
  border-right: none;
}

#left_nav {
  position: fixed;
  width: 108px !important;
  height: auto;
  left: 50px;
  top: 550px;
}
#left_nav li {
  list-style: none;
  width: 108px;
  height: 38px;
  background-color: #fff;
  font-size: 12px;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 38px !important;
}
#left_nav li img {
  width: 30px;
  height: 30px;
}
#left_nav li div {
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5px;
  margin-bottom: 5px;
}
#left_nav li div span {
  height: 12px;
}
#left_nav li:first-of-type {
  background: url(../../img/背景.webp);
  text-align: center;
  line-height: 38px;
  justify-content: center;
}

#right_nav {
  width: 72px;
  position: absolute;
  right: 0;
  top: 550px;
  background-color: white;
}
#right_nav li {
  list-style: none;
  width: 72px;
  height: 82px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#right_nav li p {
  font-size: 14px;
  color: #666;
}
#right_nav li span {
  font-size: 30px !important;
  margin-bottom: 5px;
}
#right_nav li:first-of-type {
  height: 140px;
}
#right_nav li:first-of-type img {
  width: 70px;
  height: 70px;
}

footer {
  width: 100%;
  height: 268px;
  background-color: black;
  color: white;
}
footer .footer_t {
  width: 1090px;
  height: 50px;
  margin: auto;
  margin-top: 37px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .footer_t li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_t li span {
  font-size: 50px;
  margin-right: 20px;
}
footer .footer_t li p {
  font-size: 18px;
  color: #fff;
}
footer .footer_b {
  width: 1090px;
  height: 50px;
  margin: auto;
  text-align: center;
}
footer .footer_b ul {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  color: #999;
}
footer .footer_b ul li {
  list-style: none;
}
footer .footer_b p {
  font-size: 12px;
  color: #999;
  margin: 10px;
}

/*# sourceMappingURL=index.css.map */
